

body
{

	background:#ffffff;
	margin: 0;
}
html, main
{

   font-size: 114%;
}

#pe
{

	margin:0;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
#t3, #t4
{


	font-family: 'Muli', sans-serif;
	margin:0;
}



{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.menu1 img
{
    width: 100%;
}


.mobile-nav-button {
  position: fixed;
    margin: 2.1em 0em 0;
    left: 2%;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgb(252, 248, 246);
}
.mobile-nav-button .mobile-nav-button__line {
	width: 30px;
    height: 2px;
    background: #333;
    position: relative;
    transition: 1s ease;
    margin: .6em auto;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.5em auto; }

.mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 {
	display: none;
}

.mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
	left:10%;
}




/*-- about --*/
.about,.services,.testimonial,.contact,.food-menu,.gallery,.w3-orders,.team{
	padding:5em 0;
}
div#about {
    background-color:#fff;
}
.w3l-about-left  {
    color:#f16121;
	    letter-spacing: 2px;
}
.about-agileits-title #t3,.agile-heading #t3,.agileits-title #t3,.w3-contact-map #t3,.test-heading #t3,.menu-head #t3,.agileits-title-left #t3,.w3-order-heading #t3,.w3-team-title #t3{
	font-size:3em;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
	text-align:center;
	margin-bottom:25px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.about-agileits-title #t3 span,.agile-heading #t3 span,.agileits-title #t3 span,.w3-contact-map #t3 span,.test-heading #t3 span,.menu-head #t3 span,.agileits-title-left #t3 span,.w3-order-heading #t3 span,.w3-team-title #t3 span{
    color: #f16121;
}
.w3l-about-left {
    font-size: .9em;
    color: #212121;
    text-decoration: none;
    margin: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.8em;
	letter-spacing: 2px;
}

.w3l-about-img img {
    width: 100%;
}


/*-- about --*/
/*-- menu --*/
.menu1-left #t4,.menu1-left1 #t4,.menu3-left3 #t4 {
    color: #fff;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 200;
}
.menu-grids {
    margin: 4em 0;
}
div#menu {
    padding: 1em 0 0em 0;
}
.menu1-left #t3,.menu1-left1 #t3,.menu3-left3 #t3{
    color: #fff;
    font-size: 2em;
    margin: 1em 0;
    font-weight: 600;
}
.menu1-left #pe ,.menu1-left1 #pe,.menu3-left3 #pe {
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
	font-style: italic;
	color:#fff;
}
.menu1-left, .menu1-left1, .menu3-left3 {
    background: #ddd;
    padding: 6em 10em 6em 3em;
}
.menu-grid1,.menu2-grid2,.menu3-grid3 {
    position: relative;
}
.position-menu-img {
    position: absolute;
    bottom: 2%;
    right:0%;
	top:-15%;
}
.position-menu-img1
{
    position: absolute;
    bottom: -5%;
    left: -6%;
}
.position-menu-img2 {
    position: absolute;
    bottom: 2%;
    right: 0%;
    top: -15%;
}
.menu2-grid2,.menu3-grid3  {
    margin-top: 7em;
}
.menu1-left1 {
    padding: 6em 0em 6em 18em;
}
.menu1-left {
    background: #f16121;
}
.menu1-left1 {
    background: #bfdb39;
}
.menu3-left3 {
    background: #f16121;
}
sup {
    font-size: 2em;
}
/*-- menu --*/
/*-- gallery --*/
/*-- imghvr-hinge --*/


/*-- /responsive design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
.agile_header {
    padding: 2em 3em 0 0em;
	}
	.position-menu-img1 {
    left: 0%;
	}
}
@media(max-width:1080px){
.banner_info {
    width: 74%;
	margin: 10em auto 0;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 3.5em;
	}
	.banner {
    min-height: 650px;
	}
	.menu1-left, .menu1-left1, .menu3-left3 {
    padding: 4em 10em 4em 3em;
	}
	.menu1-left1 {
    padding: 4em 0em 6em 13em;
	}
	.menu2-grid2, .menu3-grid3 {
    margin-top: 11em;
	}
	[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3.5em;
	}
	.banner-right-agile {
    width: 43%;
	}
	.team-right {
    padding: 0.6em 2em;
	}
	.menu1-left #t3, .menu1-left1 #t3, .menu3-left3 #t3 {
    font-size: 1.7em;
	}
	.w3-agile-services-right img {
    margin: 3em 0 0 0;
	}
	.position-menu-img img,.position-menu-img2 img,.position-menu-img1 img{
    width: 80%;
	}
	.position-menu-img ,.position-menu-img2{
    right: -60px;
    top: -11%;
	}
	.position-menu-img1 {
    bottom: -3%;
    left: -1%;
	}
	.menu2-grid2, .menu3-grid3 {
    margin-top: 6em;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 3.3em;
	}
	.about, .services, .testimonial, .contact, .food-menu, .gallery, .w3-orders, .team {
    padding: 4em 0;
	}
}
@media(max-width:1024px){
	.position-menu-img img,.position-menu-img1 img,.position-menu-img2 img{
    width: 80%;
	}
	.position-menu-img,.position-menu-img2 {
    bottom: 2%;
   right: -26px;
    top: -10%;
	}
	.position-menu-img1 {
    left: 0%;
    top: -4%;
	}
	.menu1-left1 {
    padding: 4em 0em 6em 14em;
	}
	.position-menu-img1 {
    top: -9%;
	}
	.menu2-grid2, .menu3-grid3 {
    margin-top: 7em;
	}
	.about, .services, .testimonial, .contact, .food-menu, .gallery, .w3-orders, .team {
    padding: 3em 0;
	}
	div#testimonials {
    padding: 4em 0 5em 0;
	}
}

@media(max-width:800px){
.banner_info {
    width: 74%;
	}
	.position-menu-img img, .position-menu-img2 img {
    width: 51%;
	}
	.position-menu-img1 img {
	 width: 51%;
	}
	.position-menu-img, .position-menu-img2 {
    right: -36%;
    top: 12%;
	}
	.wthree_banner_info_grid p {
    width: 95%;
	}
	.position-menu-img1 {
    left: -2%;
    top: 12%;
	}
	.w3gallery-grids {
    width: 33.33%;
	padding: 0 5px;
	}
	.contact textarea {
    min-height: 8em;
	}
	.map-grid iframe {
    height: 500px;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 2.7em;
	}
	.agileits_w3layouts_banner_info p {
    font-size: 1.2em;
	}
	.w3-agile-services-right img {
    margin: 6em 0 0 0;
	}
	.menu1-left, .menu1-left1, .menu3-left3 {
    padding: 3em 2em 3em 2em;
	}
	.position-menu-img {
    position: static;
	text-align: center;
	}
	.position-menu-img1 {
    position: static;
	text-align: center;
	}
	.position-menu-img2 {
    position: static;
	text-align:center;
	}
	.menu3-left3 {
    padding: 3em 2em 3em 2em;
	}
	.menu1-left1 {
    padding: 3em 2em 3em 2em;
	}
	.menu2-grid2, .menu3-grid3 {
    margin-top: 2em;
	}
	.menu-grids {
    margin: 0;
	}
	.w3_agile_header {
    padding: 1.5em 3em 0 0em;
	}
	.about-agileits-title #t3, .agile-heading #t3, .agileits-title #t3, .w3-contact-map #t3, .test-heading #t3, .menu-head #t3, .agileits-title-left #t3, .w3-order-heading #t3, .w3-team-title #t3 {
    font-size: 2.5em;
	}
}
@media(max-width:768px){
.wthree_banner_info_grid #t3 {
    font-size: 2.7em;
	}
	.menu2-grid2, .menu3-grid3 {
    margin-top: 2em;
	}
	.agileits_w3layouts_banner_info p {
    font-size: 1.2em;
	}
	.callbacks_tabs {
    top: 103%;
	}
}
@media(max-width:736px){
.w3_agileits_logo   span {
    width: 38%;
	}
	.menu2-grid2, .menu3-grid3 {
    margin-top: 2em;
	}
}
@media(max-width:667px){
.w3_agileits_logo   span {
    width: 45%;
	}
	.position-menu-img, .position-menu-img2 {
    top: 15%;
	}
	.position-menu-img1 {
    left: 2%;
    top: 16%;
	}
	.about-agileits-title #t3, .agile-heading #t3, .agileits-title #t3, .w3-contact-map #t3, .test-heading #t3, .menu-head #t3, .agileits-title-left #t3, .w3-order-heading #t3, .w3-team-title #t3 {
    font-size: 2.5em;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
	}
	.about-left {
    width: 100%;
    float: left;
	}
	.about-img {
    width: 100%;
    float: left;
    margin-top: 3em;
	}

	.menu1-left #t3, .menu1-left1 #t3, .menu3-left3 #t3 {
    font-size: 1.4em;
	}
	.menu1-left #pe, .menu1-left1 #pe, .menu3-left3 #pe {
    font-size: 15px;
	}
	.position-menu-img, .position-menu-img2 {
    top: 10%;
	}

	.position-menu-img1 {
    top: 10%;
	}
	.about, .services, .testimonial, .contact, .food-menu, .gallery, .w3-orders, .team {
    padding: 3em 0;
	}
	[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2em;
	}
	.test-heading #t3 {
    color: #fff;
	}
	i.fa.fa-quote-right {
    font-size: 2em;
    color: #f16121;
	}
	.contact textarea {
    min-height: 6em;
	}
	.testimonial-top p {
    margin: 1.5em auto;
	}
	.agileits_w3layouts_banner_info p {
    font-size: 1em;
	}
	.w3_agileits_logo  a {
    font-size: 1.3em;
    font-weight: 600;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 2.3em;
	}
	.w3_agile_header {
    padding: 1.4em 3em 0 0em;
	}
	sup {
    font-size: 1.5em;
	}
	.contact-form p {
    font-size: 0.9em;
	}
	.banner {
    min-height: 500px;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 2em;
    letter-spacing: 1px;
	}
}
@media(max-width:640px){
.position-menu-img img, .position-menu-img2 img {
    width: 44%;
	}
	.position-menu-img, .position-menu-img2 {
    right: -43%;
    top: 15%;
	}
	.agile-contact-right {
    width: 100%;
    float: left;
	}
	.agile-contact-left {
    width: 100%;
    float: left;
	}
	.map-grid iframe {
    height: 350px;
	}
	.w3_agile_header {
    padding: 1em 3em 0 0em;
	}
	.mobile-nav-button {
    margin: 1.7em 0em 0;
	}
	.flex-control-nav {
    top: 19%;
	}
	.w3-agile-services-right img {
    margin: 8em 0 0 0;
	}
	.mobile-menu {
    display: block;
    width: 25%;
	}
}
@media(max-width:600px){
.agileits_logo   span {
    width: 47%;
	}
	.w3l_banner_info {
    margin: 5em auto 0;
	}
	.menu1-left #pe, .menu1-left1 #pe, .menu3-left3 #pe {
    font-size: 14px;
	}
	.position-menu-img1 {
    top: 15%;
	}
	.position-menu-img1 img {
    width: 44%;
	}
	.position-menu-img1 {
    top: 18%;
    left: 6%;
	}
	[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1em;
	}
	.w3_agileits_logo   span {
    width: 48%;
	}
	.banner-right-agile input[type="submit"] {
    width: 54%;
	}
}
@media(max-width:568px){
.w3_agileits_logo   span {
    width: 52%;
	}
	.position-menu-img {
    position: static;
	text-align: center;
	}
	.position-menu-img img, .position-menu-img2 img {
    width: 60%;
	}

	.position-menu-img1 {
    position: static;
	}
	.position-menu-img2 {
    position: static;
	text-align: center;
	}
	.position-menu-img1 img {
    width: 60%;
	}
	.footer-nav li  {
    padding-right: 0.5em;
	}
	.banner-right-agile {
    width: 100%;
	}
.w3-agile-services-right {
    width: 100%;
    float: left;
	}
	.main-w3l {
    width: 80%;
    margin: 0 auto;
	}
	.w3-agile-services-right{
	text-align:center;
	}
	.w3-agile-services-right img {
    margin: 3em 0 0 0;
	width: 85%;
	}
	.about-agileits-title #t3, .agile-heading #t3, .agileits-title #t3, .w3-contact-map #t3, .test-heading #t3, .menu-head #t3, .agileits-title-left #t3, .w3-order-heading #t3, .w3-team-title #t3 {
    font-size: 2em;
	}
	.w3l-about-left  {
    font-size: 25px;
	}
	.footer-logo #t3 {
    font-size: 30px;
	}
	.banner {
    min-height: 400px;
	}
}
@media(max-width:480px){
.w3_agileits_logo   span {
    width: 60%;
	}
	.w3_agileits_logo   {
    font-size: 1.2em;
	}
	.w3_agile_header {
    padding: 1.2em 3em 0 0em;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 2em;
    letter-spacing: 3px;
	}
	.wthree_banner_info_grid p {
    width: 100%;
	}
	.banner {
    min-height: 500px;
	}
	.wthree_banner_info_grid p {
    font-size: 0.9em;
	}
	.about-agileits-title #t3, .agile-heading #t3, .agileits-title #t3, .w3-contact-map #t3, .test-heading #t3, .menu-head #t3, .agileits-title-left #t3, .w3-order-heading #t3, .w3-team-title #t3 {
    font-size: 2em;
	}
	.about, .services, .testimonial, .contact, .food-menu, .gallery, .w3-orders, .team {
    padding: 2em 0;
	}
	.w3l-about-left  {
    letter-spacing: 2px;
    font-size: 23px;
	}
	.w3_agileits_logo   span {
    letter-spacing: 7px;
	}
	.w3gallery-grids {
    width: 50%;
	}
	[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2em;
	}
	.team-left {
    float: left;
    width: 50%;
	}
	.team-right {
    float: right;
    width: 100%;
	}
	.team-w3lsgrids {
    width: 100%;
    float: left;
	}
	.w3_agileits_logo   span {
    width: 52%;
	}
	.mobile-menu {
    width: 36%;
	}
	.team-info.team-row2 {
    margin-top: 1em;
	}
	.team-w3lsgrids {
    margin-bottom: 2em;
	}

	.footer-logo #t3 {
    font-size: 30px;
	}
	.w3_agileits_logo   span {
    width: 57%;
	}
	.testimonial {
    min-height: 835px;
	}
	.w3-agile-services-right {
    text-align: center;
	}
	.callbacks_tabs {
    top: 100%;
    left: 44.3%;
	}
	.w3_agileits_logo  {
    font-size: 24px;
	}
	.w3_agileits_logo   span {
    width: 46%;
    letter-spacing: 4px;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 1.6em;
    letter-spacing: 1px;
	}
	.banner {
    min-height: 400px;
	}
}
@media(max-width:414px){
.w3_agileits_logo   span {
    letter-spacing: 4px;
	}
	.main-w3l {
    width: 100%;
    margin: 0 auto;
	}
	[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1em;
	}
	.w3gallery-grids {
    width: 100%;
	}
	[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 5em;
	}
	sup {
    font-size: 1.5em;
	}
	.agileits_w3layouts_banner_info p {
    font-size: 0.9em;
	}

	.w3_agile_header {
    padding: 1.2em 4em 0 0em;
	}
	.w3_agileits_logo   span {
    width: 59%;
	}
	.menu1-left #t3, .menu1-left1 #t3, .menu3-left3 #t3 {
    font-size: 1.3em;
	}
	.w3-agile-services-right img {
    width: 100%;
	}
	.w3l_banner_info {
    margin: 4em auto 0;
	}
}
@media(max-width:384px){
.w3_agileits_logo   span {
    letter-spacing: 4px;
    width: 57%;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 1.8em;
    letter-spacing: 2px;
	}
	.w3_agileits_logo  {
    font-size: 29px;
	}
	.w3_agileits_logo   span {
    letter-spacing: 2px;
    width: 51%;
	}
	.w3_agileits_logo   span {
    font-size: 14px;
	}
	i.fa.fa-phone {
    font-size: 1em;
    color: #bfdb39;
	}
	.w3_agileits_logo {
    margin-top: 3em;
	}
	.mobile-nav-button {
    width: 32px;
    height: 43px;
	}
	.menu1-left, .menu3-left3 {
    padding: 4em 0em 4em 1em;
	}
	.testimonial {
    min-height: 921px;
	}

	.w3_agileits_logo   {
    font-size: 1em;
	}
	.w3_agile_header {
    padding: 1.2em 3em 0 0em;
	}
	.about, .services, .testimonial, .contact, .food-menu, .gallery, .w3-orders, .team {
    padding: 1em 0;
	}
	sup {
    font-size: 1.2em;
	}
	.w3_agile_header {
    padding: 1.2em 0em 0 0em;
	}
	.mobile-nav-button {
    margin: 1.6em 0em 0;
	}
	.mobile-nav-button {
    width: 29px;
    height: 29px;
	}
	.mobile-nav-button .mobile-nav-button__line {
    width: 18px;
    height: 2px;
    margin: .2em auto;
	}
	.w3l_banner_info {
    margin: 2em auto 0;
	}
	.wthree_banner_info_grid p {
	font-size: 1em;
    letter-spacing: 1px;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 1.5em;
    letter-spacing: 1px;
	}
}
@media(max-width:375px){
.mobile-nav-button {
    margin: 1.8em 0em 0;
	}
	.about-agileits-title #t3, .agile-heading #t3, .agileits-title #t3, .w3-contact-map #t3, .test-heading #t3, .menu-head #t3, .agileits-title-left #t3, .w3-order-heading #t3, .w3-team-title #t3 {
    font-size: 1.8em;
	}
}
@media(max-width:320px){
.w3_agileits_logo   span {
    letter-spacing: 2px;
    width: 61%;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 1.6em;
    letter-spacing: 2px;
	}
	.w3l_banner_info {
    margin: 3em auto 0;
	}
	.menu1-left #t3, .menu1-left1 #t3, .menu3-left3 #t3 {
    font-size: 1.2em;
	}
	.testimonial {
    min-height: 968px;
	}
	.wthree_banner_info_grid #pe {
    letter-spacing: 1px;
	}
	.wthree_banner_info_grid #t3 {
    font-size: 1.5em;
    letter-spacing: 1px;
	}
	.flex-control-nav {
    top: 11%;
	}
	.banner {
    min-height: 440px;
	}
	.w3l-about-left  {
    font-size: .9em;
    letter-spacing: 0.5px;
	}
	.menu1-left, .menu3-left3 {
    padding: 2em 0em 2em 1em;
	}
	.menu1-left #t3, .menu1-left1 #t3, .menu3-left3 #t3 {
    font-size: 1em;
	}
	.mobile-nav-button {
    width: 29px;
    height: 29px;
	}

	.mobile-nav-button {
    margin: 1.6em 0em 0;
	}
	.banner-text #t3 {
    font-size: 20px;
	}
	.footer-agile {
    padding: 2em 0 2em;
	}
	.footer-nav li  {
    font-size: 14px;
	}
	.menu1-left #pe, .menu1-left1 #pe, .menu3-left3 #pe {
    font-size: 13px;
	}
	.w3l_banner_info {
    width: 86%;
	}
	.wthree_banner_info_grid #pe {
    letter-spacing: 1px;
    font-size: 0.9em;
	}
	.copyright-agile #pe {
    font-size: 0.9em;
    letter-spacing: 1px;
	}
	.footer-logo #t3 {
    font-size: 22px;
	}
}

/*-- /responsive design --*/

